<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') %>
</head>

<body>
  <header>
    <%- include('../../partials/header') %>
  </header>

  <main class="container py-2">
    <h1>Cart</h1>
  </main>
  
  <footer>
    <%- include('../../partials/footer') %>
  </footer>
</body>

</html>